<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Hourglass.Properties.Settings>
            <setting name="MostRecentOptionsInfo" serializeAs="Xml">
                <value>
                    <TimerOptionsInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <Title />
                        <AlwaysOnTop>false</AlwaysOnTop>
                        <LoopTimer>false</LoopTimer>
                        <PopUpWhenExpired>true</PopUpWhenExpired>
                        <CloseWhenExpired>false</CloseWhenExpired>
                        <ColorIdentifier>resource:Default color</ColorIdentifier>
                        <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                        <LoopSound>false</LoopSound>
                        <WindowSize>
                            <RestoreBounds>
                                <Location>
                                    <X>-3</X>
                                    <Y>36</Y>
                                </Location>
                                <Size>
                                    <Width>250</Width>
                                    <Height>150</Height>
                                </Size>
                                <X>-3</X>
                                <Y>36</Y>
                                <Width>250</Width>
                                <Height>150</Height>
                            </RestoreBounds>
                            <WindowState>Normal</WindowState>
                            <RestoreWindowState>Normal</RestoreWindowState>
                            <IsFullScreen>false</IsFullScreen>
                        </WindowSize>
                    </TimerOptionsInfo>
                </value>
            </setting>
            <setting name="ShowInNotificationArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerInfos" serializeAs="Xml">
                <value>
                    <ArrayOfTimerInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <TimerInfo>
                            <State>Paused</State>
                            <StartTime xsi:nil="true" />
                            <EndTime xsi:nil="true" />
                            <TimeElapsed>13384989949</TimeElapsed>
                            <TimeLeft>2815010051</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>16200000000</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="TimeSpanToken">
                                    <Years>0</Years>
                                    <Months>0</Months>
                                    <Weeks>0</Weeks>
                                    <Days>0</Days>
                                    <Hours>0</Hours>
                                    <Minutes>27</Minutes>
                                    <Seconds>0</Seconds>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ColorIdentifier>resource:Default color</ColorIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>false</LoopSound>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>-3</X>
                                            <Y>36</Y>
                                        </Location>
                                        <Size>
                                            <Width>250</Width>
                                            <Height>150</Height>
                                        </Size>
                                        <X>-3</X>
                                        <Y>36</Y>
                                        <Width>250</Width>
                                        <Height>150</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Paused</State>
                            <StartTime xsi:nil="true" />
                            <EndTime xsi:nil="true" />
                            <TimeElapsed>140317090</TimeElapsed>
                            <TimeLeft>459682910</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>600000000</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="TimeSpanToken">
                                    <Years>0</Years>
                                    <Months>0</Months>
                                    <Weeks>0</Weeks>
                                    <Days>0</Days>
                                    <Hours>0</Hours>
                                    <Minutes>0</Minutes>
                                    <Seconds>60</Seconds>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ColorIdentifier>resource:Default color</ColorIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>false</LoopSound>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>84</X>
                                            <Y>40</Y>
                                        </Location>
                                        <Size>
                                            <Width>250</Width>
                                            <Height>150</Height>
                                        </Size>
                                        <X>84</X>
                                        <Y>40</Y>
                                        <Width>250</Width>
                                        <Height>150</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Paused</State>
                            <StartTime xsi:nil="true" />
                            <EndTime xsi:nil="true" />
                            <TimeElapsed>37365836</TimeElapsed>
                            <TimeLeft>112634164</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>150000000</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="TimeSpanToken">
                                    <Years>0</Years>
                                    <Months>0</Months>
                                    <Weeks>0</Weeks>
                                    <Days>0</Days>
                                    <Hours>0</Hours>
                                    <Minutes>0</Minutes>
                                    <Seconds>15</Seconds>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ColorIdentifier>resource:Default color</ColorIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>false</LoopSound>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>805</X>
                                            <Y>99</Y>
                                        </Location>
                                        <Size>
                                            <Width>250</Width>
                                            <Height>150</Height>
                                        </Size>
                                        <X>805</X>
                                        <Y>99</Y>
                                        <Width>250</Width>
                                        <Height>150</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                            </Options>
                        </TimerInfo>
                        <TimerInfo>
                            <State>Paused</State>
                            <StartTime xsi:nil="true" />
                            <EndTime xsi:nil="true" />
                            <TimeElapsed>239610164</TimeElapsed>
                            <TimeLeft>5760389836</TimeLeft>
                            <TimeExpired>0</TimeExpired>
                            <TotalTime>6000000000</TotalTime>
                            <TimerStart>
                                <TimerStartToken xsi:type="TimeSpanToken">
                                    <Years>0</Years>
                                    <Months>0</Months>
                                    <Weeks>0</Weeks>
                                    <Days>0</Days>
                                    <Hours>0</Hours>
                                    <Minutes>10</Minutes>
                                    <Seconds>0</Seconds>
                                </TimerStartToken>
                            </TimerStart>
                            <Options>
                                <Title>paragraph</Title>
                                <AlwaysOnTop>false</AlwaysOnTop>
                                <LoopTimer>false</LoopTimer>
                                <PopUpWhenExpired>true</PopUpWhenExpired>
                                <CloseWhenExpired>false</CloseWhenExpired>
                                <ColorIdentifier>resource:Default color</ColorIdentifier>
                                <SoundIdentifier>resource:Normal beep</SoundIdentifier>
                                <LoopSound>false</LoopSound>
                                <WindowSize>
                                    <RestoreBounds>
                                        <Location>
                                            <X>-11</X>
                                            <Y>83</Y>
                                        </Location>
                                        <Size>
                                            <Width>350</Width>
                                            <Height>150</Height>
                                        </Size>
                                        <X>-11</X>
                                        <Y>83</Y>
                                        <Width>350</Width>
                                        <Height>150</Height>
                                    </RestoreBounds>
                                    <WindowState>Normal</WindowState>
                                    <RestoreWindowState>Normal</RestoreWindowState>
                                    <IsFullScreen>false</IsFullScreen>
                                </WindowSize>
                            </Options>
                        </TimerInfo>
                    </ArrayOfTimerInfo>
                </value>
            </setting>
            <setting name="TimerStartInfos" serializeAs="Xml">
                <value>
                    <ArrayOfTimerStartInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>10</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>27</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>0</Minutes>
                                <Seconds>60</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>0</Minutes>
                                <Seconds>45</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>0</Minutes>
                                <Seconds>15</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>1</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>5</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                        <TimerStartInfo>
                            <TimerStartToken xsi:type="TimeSpanToken">
                                <Years>0</Years>
                                <Months>0</Months>
                                <Weeks>0</Weeks>
                                <Days>0</Days>
                                <Hours>0</Hours>
                                <Minutes>30</Minutes>
                                <Seconds>0</Seconds>
                            </TimerStartToken>
                        </TimerStartInfo>
                    </ArrayOfTimerStartInfo>
                </value>
            </setting>
            <setting name="UniqueId" serializeAs="String">
                <value>29854b9e-fe34-4fec-950a-d0d8e1d62fce</value>
            </setting>
            <setting name="UserProvidedColorIdentifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="WindowSizeInfo" serializeAs="Xml">
                <value>
                    <WindowSizeInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <RestoreBounds>
                            <Location>
                                <X>-3</X>
                                <Y>36</Y>
                            </Location>
                            <Size>
                                <Width>250</Width>
                                <Height>150</Height>
                            </Size>
                            <X>-3</X>
                            <Y>36</Y>
                            <Width>250</Width>
                            <Height>150</Height>
                        </RestoreBounds>
                        <WindowState>Normal</WindowState>
                        <RestoreWindowState>Normal</RestoreWindowState>
                        <IsFullScreen>false</IsFullScreen>
                    </WindowSizeInfo>
                </value>
            </setting>
        </Hourglass.Properties.Settings>
    </userSettings>
</configuration>